html {
	height: 100vh;
	background-image: url(img/e.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-clip: border-box;
	background-attachment: fixed;
}

body {
	background-color: red;
	height: 100vh;
	background-color: transparent;
	font-family: "Ubuntu", sans-serif;
	height: 100%;
}
.covered {
	height: 100vh;
}

.navbar .container a {
	color: white !important;
}

.damisa {
	color: rgb(253, 249, 249) !important;
	font-family: "Rubik Pixels", cursive;
}

.damisa-tech {
	background-color: black;
}

section.bg-successs {
	background-color: #0e8e0e;
}

.bi {
	padding-right: 10px;
}

.foot-nav ul,
.others ul {
	list-style-type: none;
}

.foot-nav ul li a,
.others ul li a {
	text-decoration: none;
	color: white;
}

.foot-nav ul li,
.others ul li {
	margin: 10px 0;
}

.circles {
	border-radius: 100px;
	height: 200px !important;
	width: 200px !important;
}

/* VIDEO BACKGROUND START HERE */

.video-wrapper {
	width: 100%;
	background-image: linear-gradient(
		to right,
		rgb(0, 0, 0),
		rgba(29, 17, 255, 0.1)
	);
	position: relative;
	overflow: hidden;
}
.header {
	text-align: left;
	color: white;
}

.back-video {
	position: absolute;
	width: 100vw;
	right: 0;
	bottom: 0;
	z-index: -1;
}

@media (min-width: 768px) {
	.news-input {
		width: 50%;
	}

	section.w-100 {
		width: 100%;
	}

	.circles {
		border-radius: 100px;
		height: 200px !important;
		width: 200px !important;
	}
}
